@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@600&display=swap');
:root {
	--dark0: #000000;
	--dark1: #1a1a1a;
	--dark2: #2a2a2a;
	--dark3: #3a3a3a;
	--washed-dark: #8d8d8d;
	--lite0: #ffffff;
	--lite1: #f0f0f0;
	--purp1: #9072ca;
	--purp2: #40325e;

	--layout-width: 768px;
	--font-main: 'Quicksand', sans-serif;
	--font-big: 'Lexend', sans-serif;
	--trandur: 0.15s;
	--radius1: 0.5rem;
	--radius2: 15rem;
	--radius3: 50%;

	// animation timings - brought here for nomotion
	--profile-animation-duration: 0.5s;
	// delayed & delayed-delay use a calc( var(--delayed ) + ( nth * --delayed-delay ) ) formula
	--delayed-animation-duration: 0.5s; // the base value used for buttons or section animated ins
	--delayed-animation-duration-delay: 0.25s; // the value multiplied by n depending on nth element using the animation
	--icon-setting-toggle-animation-duration: 0.5s;
	--repo-animation-dur: 0.2s;
}
* {
	margin: 0;
	padding: 0;
	-webkit-tap-highlight-color: transparent;
}
body {
	font-family: var(--font-main);
	background-color: var(--dark1);
	color: var(--lite1);
	font-size: 1.1rem;
	// overflow: overlay;
	// thonk?
}

.nomotion {
	--trandur: 0;
	--profile-animation-duration: 0;
	--delayed-animation-duration: 0;
	--delayed-animation-duration-delay: 0;
	--icon-setting-toggle-animation-duration: 0;
	--repo-animation-dur: 0;
}

a {
	--background-link-color: var(--dark2);
	text-decoration: none;
	color: var(--purp1);
	// color: inherit;
	outline: none;
	background: linear-gradient(
		to bottom,
		var(--background-link-color) 0%,
		var(--background-link-color) 100%
	);
	background-position: 0 100%;
	background-repeat: repeat-x;
	background-size: 2px 2px;
	transition-duration: var(--trandur);
	&:hover,
	&:focus {
		background-size: 2px 1.3rem;
	}
}

h1,
h2,
h3,
h4 {
	font-family: var(--font-big);
}

section {
	margin: 5rem 0;
	&:first-of-type {
		margin-top: 2rem;
	}
	&:last-of-type {
		margin-bottom: 2rem;
	}
	p:not(.washed) {
		margin: 1rem 0;
		text-align: justify;
	}
	animation-name: sectionAnim; // prettier-ignore
	&:nth-of-type(1){ animation-duration: calc(var(--delayed-animation-duration) + ( 1 * var(--delayed-animation-duration-delay) ) ); } // prettier-ignore
	&:nth-of-type(2){ animation-duration: calc(var(--delayed-animation-duration) + ( 2 * var(--delayed-animation-duration-delay) ) ); } // prettier-ignore
	&:nth-of-type(3){ animation-duration: calc(var(--delayed-animation-duration) + ( 3 * var(--delayed-animation-duration-delay) ) ); } // prettier-ignore
	&:nth-of-type(4){ animation-duration: calc(var(--delayed-animation-duration) + ( 4 * var(--delayed-animation-duration-delay) ) ); } // prettier-ignore
	&:nth-of-type(5){ animation-duration: calc(var(--delayed-animation-duration) + ( 5 * var(--delayed-animation-duration-delay) ) ); } // prettier-ignore
	&:nth-of-type(6){ animation-duration: calc(var(--delayed-animation-duration) + ( 6 * var(--delayed-animation-duration-delay) ) ); } // prettier-ignore
	@keyframes sectionAnim{
		0%{ opacity: 0; transform: scale(.9) translateY(1rem); }
		100%{ opacity: 1; transform: scale(1) translateY(0); }
	}
}
header {
	section {
		margin: 0 !important; // stop the 'section' in master nav layout from being 2 thicc
	}
}

.card {
	display: inline-block;
	border: 2px solid var(--dark3);
	border-radius: var(--radius1);
	padding: 1rem;
	margin: 1rem 0;
	&.repo {
		display: inline-flex;
		flex-direction: column;
		padding: 1rem;
		margin: 0;
		width: 21rem;
		animation-name: repoIn;
		animation-duration: var(--repo-animation-dur);
		font-size: 1rem;
		color: white;
		background: inherit;
		h4 {
			margin: 0;
			padding: 0;
		}
		p {
			margin: 0;
			padding: 0;
		}
		:last-child {
			justify-self: flex-end;
		}
		.iswhite {
			color: white;
		}
		.repobar {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			margin-top: 1rem;
			.repolang {
				display: flex;
				align-items: baseline;
				div {
					// this is the dot
					display: inline-block;
					width: 0.7rem;
					height: 0.7rem;
					margin-right: 0.4rem;
					// background-color: var(--dark1);
					border-radius: var(--radius1);
				}
			}
			.repostats {
				display: flex;
				gap: 1rem;
			}
		}
		&:hover {
			background-color: var(--dark2);
		}
		&:focus {
			border: 2px solid var(--purp1);
			color: var(--purp1);
		}
	}
	@keyframes repoIn {
		from {
			transform: scale(0.9) translateY(1rem);
			opacity: 0;
		}
	}
}

.washed {
	color: var(--washed-dark);
}
.tc {
	text-align: center;
}
.em2 {
	background-color: var(--dark2);
	padding: 0 0.2rem;
	border-radius: var(--radius1);
}
.em3 {
	font-size: 1.1em;
}
.constrained {
	width: var(--layout-width);
	margin: 0 auto;
}
::selection {
	background-color: var(--purp1);
	color: #000;
}
::-webkit-scrollbar {
	width: 12px;
	background: var(--dark1);
}
::-webkit-scrollbar-thumb {
	background: var(--dark2);
	border-radius: var(--radius2);
}

@media screen and (max-width: 800px) {
	body {
		font-size: 1rem;
	}
	.constrained {
		width: 100%;
	}
}
