---
import Layout from '../layouts/master.astro';
---

<Layout status="Are you lost?">
	<div class="constrained tc">
		<p>
			This path leads to nowhere. Repent. <br />
			<a href="/">Return to monke.</a>
		</p>
	</div>
</Layout>
