---
import Layout from '../layouts/master.astro';
import Pinned from '../components/pinned.astro';
---

<Layout status="Dashboard">
	<div class="constrained">
		<h2 class="tc">Projects</h2>
		<section>
			<h3>Pinned on GitHub</h3>
			<p class="washed">Updating a list of best projects manually sucks.</p>
			<Pinned client:idle />
		</section>
		<!-- <section class="feat">
			<h2>Games</h2>
			<p>
				I try to make games sometimes.
				<span class="washed">Not that it's ever worked out.</span>
			</p>
		</section> -->
	</div>
</Layout>

<style lang="scss" scoped>
	div {
		h2.tc,
		p.washed.tc {
			animation-name: fadeinHere;
			animation-duration: var(--delayed-animation-duration);
		}
	}
	@keyframes fadeinHere {
		from {
			transform: scale(0.9) translateY(-3rem);
			opacity: 0;
		}
		to {
			transform: scale(1);
			opacity: 1;
		}
	}
</style>
