---
import Layout from '../layouts/master.astro';
import Profile from '../components/profile.astro';
import Buttons from '../components/buttons.astro';
---
<Layout status="manczak.net">
	<div class="constrained">
		<Profile />
		<Buttons />
	</div>
</Layout>