---
import Layout from '../layouts/master.astro';
---
<Layout status="Short Links">
	<div class="constrained tc">
		<p>
			Work In Progress. <br>
			<a href="/">Return to monke.</a>
		</p>
	</div>
</Layout>