<div id="pinCards"></div>

<script>
	fetch('https://dudek.ga/api/pinned?username=jakubmanczak')
		.then((response) => response.json())
		.then((data) => {
			data.forEach((element) => {
				console.log(element);

				// i need something like v-for from vue
				// or {#each} from svelte somehow to work here rn!!
				let bigcard = document.createElement('a');
				bigcard.setAttribute('tabindex', '0');
				bigcard.setAttribute('href', element.link);
				bigcard.classList.add('card', 'repo');

				let reponame = document.createElement('h4');
				reponame.innerHTML = `<span class="washed">${element.owner}/</span>${element.repo}`;
				bigcard.append(reponame);

				let repodesc = document.createElement('p');
				repodesc.innerText = element.description;
				repodesc.classList.add('washed');
				bigcard.append(repodesc);

				let repobar = document.createElement('div');
				repobar.classList.add('repobar', 'iswhite');
				bigcard.append(repobar);

				let repolang = document.createElement('div');
				repolang.classList.add('repolang');
				let repolangdot = document.createElement('div');
				repolangdot.style.backgroundColor = element.color;
				repolang.append(repolangdot);
				repolang.append(document.createTextNode(element.language));
				repobar.append(repolang);

				let repostats = document.createElement('div');
				repostats.classList.add('repostats', 'washed');
				repobar.append(repostats);
				let repostatsForkCount = document.createElement('p');
				repostatsForkCount.innerText = `${element.forks} forks`;
				repostats.append(repostatsForkCount);
				let repostatsStarCount = document.createElement('p');
				repostatsStarCount.innerText = `${element.stars} stars`;
				repostats.append(repostatsStarCount);

				console.log(bigcard);
				document.querySelector('#pinCards').appendChild(bigcard);
			});
		});
</script>

<style lang="scss">
	#pinCards {
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		gap: 1rem;
		padding: 1rem 0;
		// styles for other elements are in master.scss under &.repo in .card
	}
</style>
