<div class="profile">
	<div class="profileText">
		<h2>jakub mańczak</h2>
		<p class="washed" id="splashtext">splashtext not read correctly</p>
		<p class="profileDescription profNorm">
			My name is <a href="/info">Jakub Mańczak</a>, people online call me
			<a href="/info#alias">jamesen</a> and I'm learning IT at a High School in Poznań,
			Poland.
		</p>
		<p class="profileDescription profCat" style="display: none;">
			Watashi no namae wa <a href="/info">Nyakub Myańczak</a>, or often
			<a href="/info#alias">jamesen</a> and I benkyo IT @ a haiskuru in Poznyan,
			Poland. ツ
		</p>
	</div>
	<img src="/assets/images/cat-ears.png" alt="photo of me" class="profNorm" />
	<img
		src="/favicon.png"
		alt="photo of me"
		class="profCat"
		style="display: none;"
	/>
	<script>
		const splashTexts = [
			'featherless biped',
			'the installation wizard',
			'racoon personification',
		];
		let splash;

		function getSplash() {
			splash = splashTexts[Math.floor(Math.random() * splashTexts.length)];
			document.querySelector('#splashtext').innerText = splash;
		}
		getSplash();
		function catMode() {
			document.querySelectorAll('.profNorm').forEach((el) => {
				el.setAttribute('style', 'display: none;');
			});
			document.querySelectorAll('.profCat').forEach((el) => {
				el.setAttribute('style', 'display: block');
			});
		}

		document.querySelector('.profile>img').addEventListener('click', () => {
			getSplash();
			playSfx('sfxSwoosh');
		});
	</script>
</div>

<style lang="scss" scoped>
	.profile {
		display: flex;
		justify-content: space-between;
		margin: 4rem 0;
		animation-name: profileAnim;
		animation-duration: var(--profile-animation-duration);
		.profileDescription {
			margin-top: 1rem;
			max-width: 48ch;
		}
		img {
			height: 128px;
			background: var(--purp2);
			border-radius: var(--radius3);
			transition-duration: var(--trandur);
			outline: 2px solid var(--dark1);
			&:hover,
			&:focus {
				cursor: pointer;
				outline: 2px solid var(--purp1);
				transform: rotate(6deg);
			}
		}
	}
	@media screen and (max-width: 800px) {
		.profile {
			margin: 2rem 0;
			flex-direction: column-reverse;
			justify-content: center;
			align-items: center;
			text-align: center;
		}
	}
	@keyframes profileAnim {
		from {
			opacity: 0;
			transform: rotate(-1deg) scale(0.9);
		}
		to {
			opacity: 1;
			transform: rotate(0) scale(1);
		}
	}
</style>
