---
const {status} = Astro.props;
---
<!DOCTYPE html>
<html lang="en">
	<head>
		<title>manczak.net</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href={Astro.resolve('../styles/master.scss')}>
		<link rel="icon" type="image/x-icon" href="favicon.png">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta charset="UTF-8">
		<meta name="description" content="
			My name is Jakub Mańczak, people online call me jamesen
			and I'm learning IT at a High School in Poznań, Poland.
		">
		<script defer>
			let keyHistory = '';
			document.addEventListener('keydown', ev => {
				keyHistory += ev.key;
				if(keyHistory.endsWith('splash')){
					getSplash();
					keyHistory = '';
				}
			})
		</script>
	</head>
	<body>
		<header>
			<nav tabindex="0">
				<img src="/assets/svg/menu.svg" alt="menu button">
				<div class="dropdown dropdown-left">
					<a href="/" class="dropdown-link">
						<img src="/assets/svg/home.svg" alt="house icon">
						Homepage
					</a>
					<a href="/info" class="dropdown-link">
						<img src="/assets/svg/user.svg" alt="user icon">
						About Me
					</a>
					<a href="/read" class="dropdown-link">
						<img src="/assets/svg/edit.svg" alt="pencil icon">
						Writings
					</a>
					<a href="/dash" class="dropdown-link">
						<img src="/assets/svg/clipboard.svg" alt="clipboard icon">
						Projects
					</a>
					<div class="dropdown-divider"></div>
					<a href="/github" class="dropdown-link">
						<img src="/assets/svg/github.svg" alt="github icon">
						GitHub
						<img src="/assets/svg/external-link.svg" class="dropdown-extLink" alt="external link icon">
					</a>
					<a href="/twitter" class="dropdown-link">
						<img src="/assets/svg/twitter.svg" alt="twitter icon">
						Twitter
						<img src="/assets/svg/external-link.svg" class="dropdown-extLink" alt="external link icon">
					</a>
					<div class="dropdown-divider"></div>
					<a href="/urls" class="dropdown-link">
						<img src="/assets/svg/link.svg" alt="link icon">
						All Links
					</a>
				</div>
			</nav>
			<section class="mStatus washed">{status}</section>
			<!-- <nav tabindex="-1" class="disabled"> -->
			<nav tabindex="0">
				<img src="/assets/svg/sliders.svg" alt="preferences button">
				<div class="dropdown dropdown-rite">
					<a class="dropdown-link disabled" tabindex="-1" id="controlAnimation">
						<img src="/assets/svg/video.svg" alt="video icon">
						Animations
						<!-- <img src="/assets/svg/square.svg" alt="animations off control icon" id="controlAnimationOffIcon"> -->
						<img src="/assets/svg/check-square.svg" alt="animations on control icon" id="controlAnimationOnIcon">
					</a>
					<a class="dropdown-link disabled" tabindex="-1" id="controlSound">
						<img src="/assets/svg/volume-2.svg" alt="volume icon">
						Sounds
						<!-- <img src="/assets/svg/square.svg" alt="sounds off control icon" id="controlSoundOffIcon"> -->
						<img src="/assets/svg/check-square.svg" alt="sounds on control icon" id="controlSoundOnIcon">
					</a>
					<div class="dropdown-divider"></div>
					<a class="dropdown-link disabled" tabindex="-1" id="controlLiteTheme">
						<img src="/assets/svg/sun.svg" alt="sun icon">
						Light Theme
						<img src="/assets/svg/square.svg" alt="light theme off control icon" id="controlLiteThemeOffIcon">
						<!-- <img src="/assets/svg/check-square.svg" alt="light theme on control icon" id="controlLiteThemeOnIcon"> -->
					</a>
					<a class="dropdown-link disabled" tabindex="-1" id="controlDarkTheme">
						<img src="/assets/svg/moon.svg" alt="moon icon">
						Dark Theme
						<!-- <img src="/assets/svg/square.svg" alt="dark theme off control icon" id="controlDarkThemeOffIcon"> -->
						<img src="/assets/svg/check-square.svg" alt="dark theme on control icon" id="controlDarkThemeOnIcon">
					</a>
					<div class="dropdown-divider"></div>
					<a href="/source" class="dropdown-link">
						<img src="/assets/svg/code.svg" alt="code icon">
						Source Code
						<img src="/assets/svg/external-link.svg" class="dropdown-extLink" alt="external link icon">
					</a>
				</div>
			</nav>
		</header>
		<div class="slotClass">
			<slot />
		</div>
		<footer class="tc">
			manczak.net
			<span class="washed">
				~ 2019-2022 <br>
				&copy; Jakub Mańczak
			</span>
		</footer>
	</body>
</html>

<style lang="scss">
	body{
		display: flex;
		flex-direction: column;
		min-height: 100vh;
		footer{ padding: 1rem; }
		.slotClass{ flex: 1; }
		header{
			padding: 1rem;
			display: flex;
			justify-content: space-between;
			align-items: center;
			nav{
				padding: .5rem;
				border-radius: var(--radius1);
				transition-duration: var(--trandur);
				border: 2px solid var(--dark1);
				outline: none;
				position: relative;
				img{
					display: block;
					height: 24px;
					filter: invert(40%);
				}
				&:hover{
					background-color: var(--dark2);
					border: 2px solid var(--dark2);
					cursor: pointer;
					img{ filter: invert(80%); }
				}
				&:focus,&:focus-within{
					border: 2px solid var(--purp1);
					img{ filter: invert(80%); }
					.dropdown{ display: block; }
				}
				&.disabled{
					img{ filter: invert(20%); }
				}
				.dropdown{
					--dropdown-inside-margins: .7rem 0;
					display: none;
					position: absolute;
					margin-top: 1rem;
					border-radius: var(--radius1);
					background-color: var(--dark1);
					border: 2px solid var(--dark2);
					padding: var(--dropdown-inside-margins);
					z-index: 1;
					width: 14rem;
					&.dropdown-left{ left: 0; }
					&.dropdown-rite{ right: 0; }
					.dropdown-link{
						display: flex;
						gap: 1rem;
						/* justify-content: space-between; */
						align-items: center;
						padding: .5rem 1rem;
						color: var(--washed-dark);
						background: var(--dark1);
						outline: none;
						img{
							filter: invert(40%);
						}
						/* .dropdown-extLink{ */
						img:nth-of-type(2){
							transform: scale(.7);
							margin-left: auto;
						}
						&.disabled{
							opacity: .5;
						}
						&:hover,&:focus{
							color: var(--lite1);
							background: var(--dark2);
							img{
								filter: invert(70%) brightness(125%);
							}
						}
					}
					.dropdown-divider{
						display: block;
						height: 2px;
						margin: var(--dropdown-inside-margins);
						background-color: var(--dark2);
					}
				}
			}
		}
	}
	@media screen and (max-width: 800px){
		.slotClass{
			padding: 1rem;
		}
	}
</style>